
*.backup
pythinux/app/*
pythinux/app_high/*
pythinux/config/*
pythinux/rscript/*
pythinux/tmp/*
pythinux/home/*
pythinux/lib/*
pythinux/log/*
*.pyc
*.pyc
pickle
urllib.request
*.kate-swp
pythinux/icon
pythinux/*.jajl
pythinux/crash_report.log
pythinux/memory.pkl
*.aux
*.log
*.out
*.pdf
*.synctex.gz
*.toc
pythinux/share
